#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Layout */
.container {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.main-title {
  margin-bottom: 1.5rem;
  color: #333;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 450px;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  /* flex-direction: column; */
}
label {
  white-space: nowrap;
}

.card-title {
  color: #555;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.search-line {
  width: 100%;
  max-width: 500px;
}

.start-button {
  width: 100%;
  max-width: 220px;
  height: 45px;
}

/* Typography */
.read-the-docs {
  color: #888;
}

/* Animations */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.my-json-container {
  margin: 0 2rem;
  width: 530px;
  white-space: normal;
  word-wrap: break-word;
  text-align: left;
}
